/* General layout */
.app-container {
  display: flex;
  height: 100vh;
}

/* Content area */
.content-container {
  flex-grow: 1;
  padding: var(--padding);
  overflow-y: auto;
}

:root {
  --color-principal: var(--accent-color);
  --padding: 50px;
}

html {
  font-family: ubuntu, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FFF;
}

.content-container__crop{
  display: flex;
  flex-direction: column;
}

.content-container__crop__buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}