/* General layout */
.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  flex-shrink: 0;
  width: 286px;
}

/* Content area */
.content-container {
  flex-grow: 1;
  padding: var(--padding);
  overflow-y: auto;
}

:root {
  --color-principal: #1DA889;
  --padding: 50px;
}

html {
  font-family: ubuntu, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FFF;
}
