.season-view{
    display: flex;
}

.season-main-view{
    width: 70%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--ubuntu)
}

.season-main-view section{
    display: flex;
    justify-content: space-between;
}