.season-view{
    display: flex;
}

.season-main-view{
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--roboto)
}

.season-main-view .section-bar-actions{
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    /* justify-content: flex-end; */
}