.activities-list-modal{
  min-height: none;
  height: fit-content;
}

.activities-list-modal__buttons {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 35px;
    gap: 10px;
}

.activities-list-modal__form-field{
  display: flex;
  flex-direction: column;
}
.activities-list-modal__form-field textarea{
  flex: 1;
  font-family: Roboto;
}
.activities-list-modal__form-field:nth-child(1){
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 1;
}
.activities-list-modal__form-field:nth-child(2){
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
}

.activities-list-modal__form-field:nth-child(3){
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;

}


.activities-list-modal__table-container{
  max-height: 50vh;
  min-width: 600px;
  overflow: auto;
}

.activities-list-modal__title{
  text-align: center;
}

.btn-new-activity{
  margin: 0;
}
.activities-list-modal__container {
  padding: 1.5rem;
  width: 100%;
}

.activities-list-modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.activities-list-modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 0.5rem;
  border: #ccc 1px solid;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
}

.activities-list-modal__label {
  font-weight: bold;
  color: #133;
}

.activities-list-modal__input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: none;
}

.activities-list-modal__error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.activities-list-modal__form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  grid-column: span 2 / span 2;
  grid-row-start: 5;
}

.activities-list-modal__form-buttons button {
  margin: 0;
} 

.hidden-element {
  display: none;
}

.success-message {
  background-color: var(--accent-background-2);
  color: var(--accent-text-1);
  font-size: 0.85rem;
  margin-top: 0.5rem;
  border: var(--accent-text-1) 1px solid;
  border-radius: 8px;
  padding: 0.5rem;
}