/* AJUSTES GENERALES */
:root {
  --color-principal: #1da889;
  --color-fondo: var(--accent-background-1);
}

html {
  font-family: ubuntu, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var( --accent-background-1);
}

/* ESTILOS TITULO Y MENU */
.title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title-menu h1 {
  color: var(--color-principal);
  font-weight: 500;
}

.title-menu i {
  font-size: 2rem;
  margin-left: 2rem;
  color: #000;
}

/* --- */
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo notas y crear-buscar */
.notes-actions {
  display: flex;
  justify-content: space-between;
}

.notes {
  width: 15%;
  height: 6vh;
  background-color: var(--color-principal);
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  border-radius: 1rem;
}

.create-find {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}

/* ESTILOS TABLAS */


table {
  border-collapse: separate !important;
  /* Asegura que los bordes no se colapsen */
  border-spacing: 0;
  /* Remueve los espacios entre celdas */
  overflow: hidden;
  /* Asegura que el contenido no sobresalga */
  margin-top: 1rem;

}



th {

  font-weight: 500;
  text-align: center !important;
  padding: 0.5rem !important;
  font-family: var(--roboto);
}

td {
  text-align: center;
  padding: 0.3rem;
}

td {
  border-right: thin solid var(--color-principal);
  border-left: thin solid var(--color-principal);
}

tfoot td {
  border-right: none;
  border-left: none;
  border-top: thin solid var(--color-principal);
  text-align: center;
}

.actions {
  text-align: center;
}

.actions i {
  margin-left: 5%;
  margin-right: 5%;
}

/* ESTILOS BACK */

.back {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  position: relative;
  right: 10%;
}

/* estilo botones*/

.btn_popup {

  background: var( --color-principal) !important;
}
.btn_crud {
  background: none;
  border: none;
  font-size: medium;
}

.btn_insert {
  background: none;
  border: none;
  font-size: xxx-large;
}

.title_popup{

  font-size: var(--heading-1);
  font-weight: var(--bold);
}

.title {
  color: var( --gray-text-1);
  text-align: center;
  font-weight: var(--bold);
}

.search-container {
  position: relative;
  width: 300px;
  /* Ajusta el ancho según tus necesidades */
}

.search-container input {
  padding-left: 2.5rem;
}

.search-container .fa-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.home-view {
  background-color: var(--color-fondo);
  display: flex;
  font-family: var(--ubuntu);
  margin: 0;
  overflow: hidden;
}

.page-container {
  padding: var(--padding-container) 15PX;
  overflow-y: auto;
  flex: 1;
  height: 100vh;
}


.popup {
  position: fixed;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 200px;
}

.container_X {
  display: flex;
  justify-content: flex-end;
}

.container_title{
   text-align: center;
}

.InsertIcon {
  margin-top: -26PX;
}