.season-actions{
    display: flex;
}

.season-number-text{
    margin: 3px;
    margin-left: 5px;
    font-size: 1.5rem;
    color: var(--accent-dark);
}

.begin-button{
    max-width: 300px;
    width: 10vw;
    min-width: 71px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    color: #FFF;
    background-color: var(--accent-dark);
}

.end-button{
    max-width: 300px;
    width: 10vw;
    min-width: 71px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: .5rem;
    color: #FFF;
    background-color: red;
}